body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
	transition: transform 80ms ease-in;
	transition: 0.3s;
	border-radius: 20px;
}

button.ghost:hover{
	background-color: white;
	color: #FF4B2B;
}


/* =============================== FORM ================================ */
form {
	background-color: #FFFFFF;
	display: flex;
	align-items: left;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	height: auto;
	text-align: left;
}

form input {
    display: block; /* Make sure the input is block-level */
    width: 100%; /* Make the input take full width */
    margin-bottom: 10px; /* Space below the input */
    padding: 10px; /* Add some padding inside the input */
    border-radius: 5px; /* Optional: Add rounded corners */
    border: 1px solid #ccc; /* Optional: Add border */
}

form span {
    padding-bottom: 20px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.inputGroup {
    position: relative;
}

.invalid-feedback {
    position: block; /* Overlay error message */
    bottom: 5px; /* Adjust position inside the input field */
    font-size: 10px; /* Decrease error text size */
    color: red;
}

#togglePassword {
    right: 10px; /* Adjust this to control how far the eye icon is from the right edge */
    top: 50%;
    transform: translateY(-50%); /* Vertically center the button */
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

#togglePassword .fas {
    font-size: 1.0em;
    padding-top: 20px;
    color: #666;
}

.button-sign-in {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
    /* font-size: 15px; */
	font-weight: bold;
    padding: 10px 35px; /* Shrink padding */
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	transition: 0.3s;
}
.button-sign-in:hover{
	background-color: white;
	color: #FF4B2B;
}

.button-sign-up {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
    /* font-size: 15px; */
	font-weight: bold;
    padding: 10px 35px; /* Shrink padding */
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	transition: 0.3s;
}
.button-sign-up:hover{
	background-color: white;
	color: #FF4B2B;
}

.forgot-password {
	display: block;
	text-align: center;
	color: #FF4B2B;
	/* font-size: 15px; */

}

.forgot-password:hover {
    text-decoration: underline;
    color: #0056b3;
}
/* ============================== Form End ============================== */

/*=============================== Container ==============================*/
.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
	 overflow: hidden;
  display: flex;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	  opacity: 0;
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}
    
footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}

.g-recaptcha {
	display: none;
}

/* ============================== End Container ============================== */

/* ============================== Media Queries ============================== */
@media (max-width: 500px) {
	/* Login form */
	a.h1{
		color: #007bff;
		font-size: 5vw;
	}
	.button-sign-in {
		font-size: 12px;
		padding: 15px 20px;

	}
	.inputGroup{
		font-size: 12px;
	}
	#quickForm{
		padding: 0 5px;
	}
	/* end login form */

	/* overlay panel right */
	.overlay-panel.overlay-right{
		background: #007bff;
		padding-bottom: 100px;
		font-size: 3vh;
	}
	.overlay-panel.overlay-right h1{
		font-size: 10vw;
	}
	button.ghost{
		border-radius: 20px;
		background-color: transparent;
		border-color: #FFFFFF;
		color: #FFFFFF;
		font-size: 10px; 
		font-weight: bold;
    	padding: 15px 20px;
		letter-spacing: 1px;
		text-transform: uppercase;
		transition: transform 80ms ease-in;
		transition: 0.3s;
	}
	/* end overlay panel right */	
}

/* ============================= Testing ============================== */
.container2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
	.box {
		text-align: center;
		h1{
			font-size: 40px;
			font-weight: bold;
		}
		p{
			color: #0056b3;
			font-family: 'Courier New', Courier, monospace;
			padding: 20px; /* Optional padding for readability */
			font-size: 20px;
		}
	}
}
/* ============================= End Testing ============================== */

/* ============================= popup animations ============================== */
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
  
.box {
	width: 300px;
	height: 300px;
	border-radius: 15px;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
	background: whitesmoke;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}
.box::after {
	content: '';
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: translate3d(0, 0, 0);
}

.popup-message{
	position: absolute; /* Relative to .box */
    bottom: 10px; /* Position it near the bottom of the box */
    left: 0;
    width: 100%; /* Take full width of .box */
    text-align: center; /* Center the text */
    padding: 40px;
    font-size: 1rem;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}
.wave {
	opacity: 0.4;
	position: absolute;
	top: 3%;
	left: 50%;
	background: #0af;
	width: 500px;
	height: 500px;
	margin-left: -250px;
	margin-top: -250px;
	transform-origin: 50% 48%;
	border-radius: 43%;
	animation: drift 3000ms infinite linear;
	transition: background-color 1s ease;
}
    
.wave.-two {
	animation: drift 7000ms infinite linear;
	opacity: 0.1;
	background: yellow;
}

.wave.-three {
	animation: drift 5000ms infinite linear;
}

.title {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	line-height: 300px;
	text-align: center;
	color: white;
	font-family: 'Playfair Display', serif;
	letter-spacing: 0.4em;
	font-size: 1.5rem;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.message {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	line-height: 300px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-family: 'Playfair Display', serif;
	letter-spacing: 0.4em;
	font-size: 10px;
	padding-top: 30px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
@keyframes drift {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.box{
	-webkit-animation: box 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: box 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes box {
	0% {
	  -webkit-transform: scaleY(0.4);
			  transform: scaleY(0.4);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	}
}
@keyframes box {
	0% {
		-webkit-transform: scaleY(0.4);
				transform: scaleY(0.4);
		-webkit-transform-origin: 100% 0%;
				transform-origin: 100% 0%;
	}
	100% {
		-webkit-transform: scaleY(1);
				transform: scaleY(1);
		-webkit-transform-origin: 100% 0%;
				transform-origin: 100% 0%;
	}
}
/* ============================= End popup animations ============================== */
  
